<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linn.home.dao.ArticleDao">
    <resultMap id="articleResultMap" type="com.linn.home.entity.Article">
        <id property="id" column="id" />
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="intro" column="intro"/>
        <result property="content" column="content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="sortNo" column="sort_no"/>
        <result property="allowComment" column="allow_comment"/>
        <result property="isStick" column="is_stick"/>
        <result property="isDraft" column="is_draft"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
    <resultMap id="archivesResultMap" type="com.linn.home.entity.Archive">
        <result property="date" column="pubtime"/>
        <result property="count" column="cnt"/>
    </resultMap>

    <select id="findArticleListAdmin"  resultMap="articleResultMap">
        select * from blog_article order by id desc
    </select>

    <select id="selectArticleList"  resultMap="articleResultMap">
        SELECT * FROM blog_article  WHERE is_draft = #{isDraft} ORDER BY is_stick DESC,id DESC
    </select>

    <select id="selectArticleBySearch"  parameterType="hashmap" resultMap="articleResultMap">
        select * from blog_article t where 1=1
        and is_draft = #{isDraft}
        and t.title like CONCAT('%',trim(#{searchContent}),'%')
        or t.author like  CONCAT('%',trim(#{searchContent}),'%')
        or t.intro like  CONCAT('%',trim(#{searchContent}),'%')
        ORDER BY is_stick DESC,id DESC
    </select>

    <select id="selectArticleByCategoryId"  resultMap="articleResultMap">
        select * from blog_article where category_id = #{categoryId}
        AND is_draft = #{isDraft}
        ORDER BY is_stick DESC,id DESC
    </select>

    <select id="selectArticleByArchiveDate"  parameterType="hashmap" resultMap="articleResultMap">
        select * from blog_article where gmt_create &gt; #{firstDay} and  gmt_create &lt; #{lastDay}
        AND is_draft = #{isDraft}
        ORDER BY is_stick DESC,id DESC
    </select>

    <select id="selectArticleById"  parameterType="int" resultMap="articleResultMap">
        select * from blog_article where id = #{articleId};
    </select>

    <select id="selectAllArchive" resultMap="archivesResultMap">
        SELECT DATE_FORMAT(`gmt_create`,'%Y%m') AS pubtime, COUNT(*) AS cnt FROM blog_article GROUP BY pubtime DESC
    </select>

    <insert id="addArticle"  keyProperty="id">
        INSERT INTO blog_article (category_id, title,intro, author,allow_comment,is_stick, is_draft,content)
        VALUES (#{categoryId}, #{title},#{intro}, #{author}, #{allowComment},#{isStick}, #{isDraft},#{content})
    </insert>

    <insert id="updateArticle"  keyProperty="id">
        UPDATE blog_article
        SET category_id  = #{categoryId}, title = #{title},intro = #{intro},author = #{author},is_stick = #{isStick},
        is_draft=#{isDraft},allow_comment=#{allowComment},content=#{content}
        WHERE id = #{id}
    </insert>

    <delete id="deleteArticleById">
        delete from blog_article where id = #{id}
    </delete>
</mapper>