<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linn.home.dao.ArticleDao">
    <resultMap id="articleResultMap" type="com.linn.home.entity.Article">
        <id property="id" column="id" />
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="intro" column="intro"/>
        <result property="content" column="content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="sortNo" column="sort_no"/>
        <result property="isStick" column="is_stick"/>
        <result property="isDraft" column="is_draft"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
    <resultMap id="archivesResultMap" type="com.linn.home.entity.Archive">
        <result property="date" column="pubtime"/>
        <result property="count" column="cnt"/>
    </resultMap>

    <select id="findArticleListAdmin"  resultMap="articleResultMap">
        select * from blog_article order by id desc;
    </select>

    <select id="selectArticleByCategoryId"  parameterType="int" resultMap="articleResultMap">
        select * from blog_article where category_id = #{categoryId} order by id desc;
    </select>

    <select id="selectArticleByArchiveDate"  parameterType="hashmap" resultMap="articleResultMap">
        select * from blog_article where gmt_create &gt; #{firstDay} and  gmt_create &lt; #{lastDay} order by gmt_create desc;
    </select>

    <select id="selectArticleById"  parameterType="int" resultMap="articleResultMap">
        select * from blog_article where id = #{articleId};
    </select>

    <select id="selectAllArchive" resultMap="archivesResultMap">
        SELECT DATE_FORMAT(`gmt_create`,'%Y%m') AS pubtime, COUNT(*) AS cnt FROM blog_article GROUP BY pubtime DESC;
    </select>

    <insert id="addArticle"  keyProperty="id">
        INSERT INTO blog_article (category_id, title,intro, author, content)
        VALUES (#{categoryId}, #{title},#{intro}, #{author}, #{content})
    </insert>
</mapper>