<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linn.home.dao.CategoryDao">
    <resultMap id="categoryResultMap" type="com.linn.home.entity.Category">
        <id property="id" column="id" />
        <result property="title" column="title"/>
        <result property="intro" column="intro"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <select id="selectAllCategory" resultMap="categoryResultMap">
        select * from blog_category;
    </select>

    <insert id="addCategory"  keyProperty="id">
        INSERT INTO blog_category (title, intro, gmt_create, gmt_modified)
        VALUES (#{titel}, #{intro}, #{gmtCreate}, #{gmtModified})
    </insert>

    <update id="updateCategoryById">
        UPDATE blog_category
        SET title  = #{titel}, intro = #{intro},gmt_modified = #{gmtModified}
        WHERE id = #{id}
    </update>

    <delete id="deleteCategoryById">
        delete from blog_category where id = #{id}
    </delete>
</mapper>