<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linn.home.dao.CommentDao">
    <resultMap id="commentResultMap" type="com.linn.home.entity.Comment">
        <id property="id" column="id" />
        <result property="pid" column="pid"/>
        <result property="rootid" column="rootid"/>
        <result property="memberName" column="member_name"/>
        <result property="content" column="content"/>
        <result property="pdate" column="pdate"/>
        <result property="isleaf" column="isleaf"/>
        <result property="articleId" column="article_id"/>
    </resultMap>

    <select id="findCommentListByArticleId" parameterType="int" resultMap="commentResultMap">
        select * from blog_comment where pid = 0 and article_id = #{articleId} order by id desc;
    </select>

    <select id="findCommentListByPid" parameterType="int" resultMap="commentResultMap">
        select * from blog_comment where pid = #{pid} order by id desc;
    </select>

    <insert id="addComment"  keyProperty="id">
        INSERT INTO blog_comment (pid, member_name,content,isleaf,article_id)
        VALUES (#{pid}, #{memberName},#{content},#{isleaf},#{articleId})
    </insert>

    <update id="updateCommentById">
        UPDATE blog_comment
        SET isleaf  = #{isleaf}
        WHERE id = #{id}
    </update>
</mapper>