<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linn.home.dao.LetterDao">
    <resultMap id="letterResultMap" type="com.linn.home.entity.Letter">
        <id property="id" column="id" />
        <result property="userName" column="user_name"/>
        <result property="contactWay" column="contact_way"/>
        <result property="content" column="content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <select id="findLetterList" resultMap="letterResultMap">
        select * from blog_letter
    </select>

    <insert id="addLetter"  keyProperty="id">
        INSERT INTO blog_letter (user_name, contact_way,content)
        VALUES (#{userName}, #{contactWay},#{content})
    </insert>

    <delete id="deleteLetterById">
        delete from blog_letter where id = #{id}
    </delete>
</mapper>