<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysqlDriver}"/>
                <property name="url" value="${mysqlURL}"/>
                <property name="username" value="${mysqlUser}"/>
                <property name="password" value="${mysqlPwd}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mysql/home/categoryMapper.xml"/>
        <mapper resource="mybatis/mysql/home/articleMapper.xml"/>
    </mappers>
</configuration>