<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body ng-controller="articlesCtrl">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					最新发布
				</h3>
			</div>
			<div class="list-group" >
				<a href="#/articleDetail/{{a.id}}" class="list-group-item" ng-repeat="a in articles">
					<h4 class="text-primary">
						<span ng-if="a.isStick == 1" class="label label-danger">置顶</span>
						{{ a.title }}
					</h4>
					<br>
					<span class="text-muted glyphicon glyphicon-time">-{{a.gmtCreate | date:"yyyy-MM-dd HH:mm:ss"}}</span>
					<p class="blog-description">{{ a.intro }}</p>
				</a>
			</div>
		</div>
		<!--分页-->
		<div class="panel panel-default">
			<div class="panel-body">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>

	</body>
</html>