<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>lnn blog</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link  href="../css/evalute.css" rel="stylesheet" type="text/css">
    <link href="../css/blog.css" rel="stylesheet" type="text/css"/>
    <!--警告框插件-->
    <link href="../plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <style type="text/css">
        body,html {
            background: url('../resources/images/bg2.jpg') no-repeat;
            background-size: cover;
        }
    </style>
    <style>
        .page-list .pagination {float:left;}
        .page-list .pagination span {cursor: pointer;}
        .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
        .page-list .pagination .separate span:hover {background: none;}
        .page-list .page-total {float:left; margin: 25px 20px;}
        .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
        .page-list .page-total input {width: 40px; padding-left:3px;}
        .page-list .page-total select {width: 50px;}
    </style>
</head>
<body  ng-app="frontApp">

<div class="container">

    <nav class="navbar navbar-default" role="navigation" ng-controller="searchCtrl">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#/">首页</a>
                    </li>
                    <li><a href="#/contactMe">联系我</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="form">
                        <input type="text" class="form-control" ng-model="searchContent" placeholder="Search...">
                        <button type="submit" ng-click="search()" id="btnSearch" class="btn btn-info btn-sm">搜索</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-xs-9">
            <!-- 路由出口 -->
            <div ng-view="">
            </div>
        </div>

        <div class="col-xs-3">
            <!-- 通知面板 -->
            <div class="panel panel-primary" ng-controller="noticeCtrl">
                <div class="panel-heading">
                    <h3 class="panel-title">{{notice.title}}</h3>
                </div>
                <div class="panel-body">
                    {{notice.content}}
                </div>
            </div>
            <!--分类面板-->
            <div class="panel panel-primary" ng-controller="catgsCtrl">
                <div class="panel-heading">
                    <h3 class="panel-title">分类</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="c in catgs">
                        <a href="#/articleList/{{c.id}}">{{ c.title }}</a>
                    </li>
                </ul>
            </div>
            <!--归档面板-->
            <div class="panel panel-primary" ng-controller="archsCtrl">
                <div class="panel-heading">
                    <h3 class="panel-title">归档</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="a in archs">
                        <a href="#/articleList/{{''}}/{{a.date}}">{{ a.date }} ({{a.count}})</a>
                    </li>
                </ul>
            </div>
            <!-- 友链 -->
            <div class="panel panel-primary" ng-controller="linksCtrl">
                <div class="panel-heading">
                    <h3 class="panel-title">友链</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="l in links">
                        <a href="{{l.url}}" target="_blank">{{ l.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--底部链接-->
    <footer>
        <p class="pull-right"><back-Top-Directive></back-Top-Directive></p>
        <p style="color: white">&copy; 2018 Design by &middot; <a href="https://github.com/754594774/blog" target="_blank">李难难</a>
            &middot;<a href="http://www.miitbeian.gov.cn/." target="_blank">皖ICP备17026796号-1</a>
        </p>
    </footer>
</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../plugins/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/angularJs/angular.min.js"></script>
<script src="../plugins/angularJs/angular-route.js"></script>
<script src="../plugins/sweetalert/sweetalert.js"></script>
<script src="../plugins/tm-pagination/tm.pagination.js"></script>
<script src="../js/global.js"></script>
<script src="../js/index.js"></script>
<script src="../js/myDirective.js"></script>
<script src="../plugins/nice-validator/jquery.validator.min.js?local=zh-CN"></script>

</body>
</html>