#pop{background:#fff;width:250px; height:200px;font-size:12px;position:fixed;right:0px;bottom:0;}
#popHead{line-height:32px;background:#f6f0f3;border-bottom:1px solid #e0e0e0;font-size:12px;padding:0 0 0 10px;}
#popHead h2{font-size:14px;color:#666;line-height:32px;height:32px;text-align:left;}
#popHead #popClose{position:absolute;right:10px;top:1px;cursor:pointer;}
#popHead #popClose:hover{color:#f00;cursor:pointer;}