<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../plugins/bs-table/bootstrap-table.css" />
    <script src="../../plugins/bs-table/bootstrap-table.js"></script>
    <script src="../../plugins/bs-table/bootstrap-table-zh-CN.js"></script>
    <script src="../../plugins/nice-validator/jquery.validator.min.js?local=zh-CN"></script>
    <script src="../../js/admin/noticeList.js"></script>
</head>
<body>
<div class="panel panel-info">
    <!--面板标题-->
    <div class="panel-heading">
        <h3 class="panel-title">通知列表</h3>
    </div>

    <div class="panel-body">
        <div id="toolbar">
            <button id="btnAdd" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button id="btnChange" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button id="btnDel" class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button id="btnRefresh" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
        <table id="table"
               data-toggle="table"
               data-height="428"
               data-pagination="true"
               data-page-list="[7, 15, 20, 30]"
               data-page-size="7"
               data-search="true"
               data-show-columns="true"
               data-click-to-select="true"
               data-striped="true"
               data-id-field="id"
               data-toolbar="#toolbar"
               data-url="/toNoticeList">
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="index" data-formatter="indexFormatter" >序号</th>
                <th data-field="title">通知标题</th>
                <th data-field="content">通知内容</th>
                <th data-field="author">作者</th>
                <th data-field="isActive" data-formatter="noticeStatusFormatter">是否显示</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{addOrChange}}通知
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="noticeForm">
                    <div class="form-group">
                        <label for="id" class="col-md-2 control-label">id</label>
                        <div class="col-md-9">
                            <input ng-model="notice.id" id="id" type="text" class="form-control" placeholder="主键" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="noticeTitle" class="col-md-2 control-label">通知标题</label>
                        <div class="col-md-9">
                            <input ng-model="notice.title" id="noticeTitle" name="title" type="text" class="form-control" placeholder="请输入标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="noticeContent" class="col-md-2 control-label">通知内容</label>
                        <div class="col-md-9">
                            <input ng-model="notice.content" id="noticeContent" name="content" type="text" class="form-control" placeholder="请输入内容">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="noticeContent" class="col-md-2 control-label">是否显示</label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input ng-checked="notice.isActive==0" value="0" name="radio" ng-model="notice.isActive"
                                       type="radio" name="optionsRadiosinline" id="optionsRadios1"> 显示
                            </label>
                            <label class="radio-inline">
                                <input ng-checked="notice.isActive==1" value="1" name="radio" ng-model="notice.isActive"
                                       type="radio" name="optionsRadiosinline" id="optionsRadios2"> 不显示
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button id="btnOk" type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>