<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../plugins/ckeditor/ckeditor.js"></script>
    <script src="../../plugins/nice-validator/jquery.validator.min.js?local=zh-CN"></script>
    <script src="../../js/admin/publishArticle.js"></script>
</head>
<body>
<div class="container-fluid" ng-controller="pubArticleCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" id="articleForm" role="form">
                <div class="form-group">
                    <div class="col-sm-8">
                        <input type="hidden" ng-model="article.id" class="form-control">
                        <input type="text" ng-model="article.title" class="form-control" name="articleTitle" placeholder="请输入标题">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" ng-model="article.author" class="form-control" name="articleAuthor" placeholder="请输入作者">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <input type="text" ng-model="article.intro" class="form-control" name="articleIntro" placeholder="请输入简介">
                    </div>
                    <div class="col-sm-4">
                        <select  ng-model="selectedCatg"  ng-options="c.title for c in catgs"
                                 name="selectedCatg" class="form-control" >
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" ng-model="article.content" rows="12" id="articleContent" name="articleContent" placeholder="这里输入正文...">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-11">
                        <div>
                            <label class="checkbox-inline">
                                <input id="chkComment" ng-init="myVar = article.allowComment==1" ng-model="myVar" type="checkbox">
                                <span class="label label-danger">禁止留言</span>
                            </label>
                            <label class="checkbox-inline">
                                <input id="chkStick" ng-init="myVar1 = article.isStick==1" ng-model="myVar1" type="checkbox">
                                <span class="label label-danger">置顶文章</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button type="submit" id="publishArticle" class="btn btn-success">发布</button>
                        <button type="submit" id="saveDraft" class="btn btn-default">保存草稿</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>